QWidget {
    background-color: #212e39;
}

QPushButton {
    background-color: rgb(128, 192, 150);
    border: 2px solid transparent;
    border-radius: 5px;
}

QPushButton:hover {
    border: 3px solid rgb(214, 10, 10);
}

QLineEdit {
    background-color: rgb(147, 148, 83);
    border-radius: 5px;
}